html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Custom styles for the tiptap editor */
.tiptap {
  width: 100%;
  height: var(--input-height);
  font-size: var(--input-font-size);
  -webkit-padding-start: var(--input-padding);
  padding-inline-start: var(--input-padding);
  -webkit-padding-end: var(--input-padding);
  padding-inline-end: var(--input-padding);
  border-radius: var(--input-border-radius);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  padding-top: var(--chakra-space-2);
  padding-bottom: var(--chakra-space-2);
  min-height: var(--chakra-sizes-20);
  line-height: var(--chakra-lineHeights-short);
  vertical-align: top;
  --input-font-size: var(--chakra-fontSizes-md);
  --input-padding: var(--chakra-space-4);
  --input-border-radius: var(--chakra-radii-md);
  --input-height: var(--chakra-sizes-10);
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: inherit;
  background: inherit;
  min-height: 75x;
  overflow: scroll;
  resize: vertical;
}

.tiptap:focus {
  outline: none;
}

.custom-editor {
  width: 100%;
}

/* For Chrome, Safari and Opera */
.tiptap::-webkit-scrollbar {
  background: transparent; /* make scrollbar background transparent */
}

/* For IE and Edge */
.tiptap {
  scrollbar-width: thin;
  scrollbar-color: currentcolor transparent;
}

.floating-menu {
  z-index: 100;
}

.tippy-box[data-theme~='material'] {
  background-color: transparent;
  opacity: 1;
  max-width: none !important;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #7b8794;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Custom styled ends here */
.hideBorder {
  border: 0 solid transparent;
  box-shadow: none !important;
}

.hideBorder:focus-visible {
  border: 0 solid transparent;
  box-shadow: none;
}

.hideBorder > div {
  border: 0 solid transparent;
  box-shadow: none !important;
}

.hideBorder > div[data-focus-visible] {
  box-shadow: none !important;
}

.noBg {
  background: transparent !important;
  border: 0 solid transparent;
}

.hideBorder > div > div {
  left: -7px;
}

.rsvp-select > div > div > hr,
.timezone-select > div > div > hr,
.custom-select > div > div > hr,
.date-select > div > div > hr,
.hideBorder > div > div > hr {
  display: none;
}

.timezone-select {
  min-width: 200px;
}
.date-select {
  max-width: 200px;
  height: 48px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.abstract-border {
  border: 0.8px solid #1f2933;

  border-image-source: linear-gradient(
    180deg,
    rgba(20, 30, 48, 0.5) 0%,
    rgba(31, 41, 51, 0.5) 100%
  );
}
.horizontal-abstract-border {
  border: 0.8px solid #1f2933;

  border-image-source: linear-gradient(
    180deg,
    rgba(31, 41, 51, 0.5) 0%,
    rgba(47, 56, 71, 0.5) 100%
  );
}
.image-back-drop {
  background: #3e4c59;
  filter: blur(40px);
  display: block;
}

.gradient-border {
  position: relative;
  overflow: hidden;
  background-color: #1f2933;
  padding: 5px; /* Adjust padding as needed */
  border-radius: 10px;
  z-index: 1;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: 0;
  background: linear-gradient(
    -49deg,
    #f35826 0%,
    #00ce5d 31%,
    #e8420d 65%,
    #80e6ae 100%
  );
  border-radius: inherit;
  padding: 2px;
  background-clip: padding-box;
}
th {
  color: inherit !important;
  font-weight: 500 !important;
  text-transform: none !important;
}
thead tr th {
  border-color: #7b8794 !important;
  border-bottom-width: 2px;
}

.contact-avatar {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-2px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.95) translateY(2px);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.rsvp-select {
  max-width: 250px;
}

.rsvp-dropdown {
  padding-inline: 0px !important;
  margin-top: 1px !important;
  padding-left: 4px !important;
}

.rsvp-select > div {
  justify-content: center !important;
  margin-inline: auto !important;
  align-items: center !important;
  border: none !important;
}

.rich-text-wrapper a {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: var(--chakra-colors-primary-400);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rich-text-wrapper a:hover {
  text-decoration: underline;
}
