@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Custom styles for the tiptap editor */
.tiptap {
  width: 100%;
  height: var(--input-height);
  font-size: var(--input-font-size);
  -webkit-padding-start: var(--input-padding);
  padding-inline-start: var(--input-padding);
  -webkit-padding-end: var(--input-padding);
  padding-inline-end: var(--input-padding);
  border-radius: var(--input-border-radius);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  padding-top: var(--chakra-space-2);
  padding-bottom: var(--chakra-space-2);
  min-height: var(--chakra-sizes-20);
  line-height: var(--chakra-lineHeights-short);
  vertical-align: top;
  --input-font-size: var(--chakra-fontSizes-md);
  --input-padding: var(--chakra-space-4);
  --input-border-radius: var(--chakra-radii-md);
  --input-height: var(--chakra-sizes-10);
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: inherit;
  background: inherit;
  min-height: 200px;
  overflow: scroll;
  resize: vertical;
}

.tiptap:focus {
  outline: none;
}

.custom-editor {
  width: 100%;
}

/* For Chrome, Safari and Opera */
.tiptap::-webkit-scrollbar {
  background: transparent; /* make scrollbar background transparent */
}

/* For IE and Edge */
.tiptap {
  scrollbar-width: thin;
  scrollbar-color: currentcolor transparent;
}

.floating-menu {
  z-index: 100;
}

.tippy-box[data-theme~='material'] {
  background-color: transparent;
  opacity: 1;
  max-width: none !important;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #7b8794;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Custom styled ends here */
.hideBorder {
  border: 0 solid transparent;
}

.hideBorder:focus-visible {
  border: 0 solid transparent;
  box-shadow: none;
}

.hideBorder > div {
  border: 0 solid transparent;
}

.hideBorder > div[data-focus-visible] {
  box-shadow: none !important;
}

.noBg {
  background: transparent !important;
  border: 0 solid transparent;
}

.hideBorder > div > div {
  left: -7px;
}

.hideBorder > div > div > hr {
  display: none;
}

.timezone-select > div > div > hr {
  display: none;
}

.timezone-select {
  min-width: 200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
